img {
  max-width: 100%;
  height: auto;
}
video {
  max-width: 100%;
  height: 200px;
  margin-top: 35px;
}
html {
	scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--couleur-de-fond);
  color: var(--blanc);
  font-family: 'noto sans', sans-serif;
  font-size: var(--body-3);
  line-height: 180%;
}
h1 {
  font-family: 'harry_p';
  font-size: var(--heading-1);
  color: var(--couleur-texte);
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 120%;
}
h2 {
    font-family: 'harry_p';
    font-size: var(--heading-2);
    color: var(--blanc);
    margin-top: 1px;
    margin-bottom: -50px;
    line-height: 120%;
    text-align: center;
}
h4 {
    font-family: 'noto sans', sans-serif;
    font-size: var(--heading-4);
    color: var(--couleur-texte);
    margin-top: 30px;
    margin-bottom: -7px;
    margin-left: 0;
}
h5 {
    font-family: 'noto sans', sans-serif;
    font-size: var(--body-4);
    color: var(--blanc);
    margin-top: 60px;
    margin-bottom: 1px;
    margin-left: 0;
}
.menu__line {
    width: 70px;
    height: 1px;
    background-color: var(--blanc);
    margin-bottom: -8px;
    margin-top: 8px;
}
.a {
  text-decoration: none;
}
.figure__img {
    margin: 0;
    margin-top: 10px;
  }
.figure__legend {
    margin-left: 0rem;
    font-size: var(--body-4);
}
main {
    margin-top: 150px;
}
input {
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--noir);
  }
  .noscroll,
  .noscroll body {
    overflow: hidden;
  }
  
  .container {
    margin: 0 20px;
  }
  .list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
 a {
text-decoration: none;
color : var(--blanc)
  }