:root {
/* Color styles */
--couleur-des-articles: rgba(1, 12, 28, 1);
--couleur-texte: rgba(180, 184, 0, 1);
--noir: rgba(31, 30, 30, 1);
--blanc: rgba(250, 250, 250, 1);
--couleur-footer: rgba(215, 214, 213, 1);
--gris-foncé: rgba(102, 100, 98, 1);
--couleur-de-fond: rgba(6, 32, 71, 1);
--vert: rgba(13, 101, 32, 1);
--bleu: rgba(11, 95, 167, 1);

/* Text-size styles */
/* base size: heading-1 (48px) */
--heading-1: 3rem;
--heading-2: 2.5rem;
--heading-2-1: 1.55rem;
--heading-3: 1.5rem;
--heading-4: 1rem;
--heading-5: 1rem;
--body-1: 2rem;
--body-2: 1.25rem;
--body-3: 0.75rem;
--body-4: 0.56rem;
--text-uppercase: 0.25rem;
}