.header {
  background-color : var(--couleur-des-articles);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.header__end {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  right: 0;
  height: 70px;
  margin-right: 0.8rem;
  margin-top: 9px;
}
.header__logo {
  display: flex;
  position: fixed;
  width: 15%;
  height: 60px;
  margin-left: 1rem;
  margin-top: 20px;
}
.header__langue {
  display: block;
  margin-right: 3.7rem;
  width: 30px;
  height: 30px;
  margin-top: 30px;
}