.intro__texte {
    font-family: 'harry_p';
    font-size: var(--heading-2);
    line-height: 60px;
    margin-top: 1px;
    letter-spacing: 3px;
    position: relative;
    z-index: 2;
}
.intro__pattern {
    position: absolute;
    top: 610px;
    right: 0;
    object-fit: cover;
    z-index: 1;
}
.apropos__img {
    margin: -19px;
    margin-top: -350px;
    position: absolute;
    z-index: 1;
}
.apropos__texte {
    margin-top: -150px;
    position: relative;
    z-index: 2;
}
.apropos__icon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 300px;
    margin-top: -200px;
    z-index: 2;
}
.apropos__title {
    z-index: -1;
}

/* Autres projets*/
.other__projects {
    margin-top: 100px;
    margin-bottom: 50px;
}
.projects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.projects__text { 
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}
.projects__title {
    font-family: 'harry_p';
    font-size: var(--heading-4);
    color: var(--couleur-texte);
    position: relative;
    margin-right: 4rem;
    margin-top: 5px;
}
.projects__intro {
    font-family: 'noto sans', sans-serif;
    font-size: var(--body-3);
    position: relative;
    margin-right: 5rem;
}
.projects__legend {
    font-family: 'noto sans', sans-serif;
    font-size: var(--body-4);
    position: relative;
    margin-top: 21px;
}
.projects__img-right {
    float: right;
    width: 85px;
    height: 160px;
}
.projects__img-left {
    float: left;
    width: 90px;
    height: 160px;

}
.other__separation {
    margin-top: 20px;
    margin-bottom: 20px;
}