.intro__text {
    font-family: 'harry_p';
    font-size: var(--heading-2);
    line-height: 60px;
    margin-top: 1px;
    letter-spacing: 3px;
    position: relative;
    z-index: 2;
}
.intro__pattern {
    position: absolute;
    top: 610px;
    right: 0;
    object-fit: cover;
    z-index: 1;
}

/* section à propos */
.apropos {
    background-color: var(--couleur-des-articles);
    margin-top: -300px;
    padding-top: -10px;
}
.apropos__container {
    background-color: var(--jaune);
    margin-bottom: 230px;
}
.apropos__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    margin-top: 20%;
}
.apropos__icon {
    margin-bottom: -10px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.apropos__title {
    font-family: 'harry_p';
    font-size: var(--heading-1);
    padding-bottom: 450px;
    letter-spacing: 4px;
}
.apropos__text {
    margin-top: -400px;
    height: 600px;
    color: var(--blanc);
    font-family: 'noto sans', sans-serif;
    font-size: var(--body-3);
    line-height: 180%;
}

/* Autres projets*/
.other__projects {
    margin-top: 100px;
    margin-bottom: 50px;
}
.projects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.projects__text { 
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}
.projects__title {
    font-family: 'harry_p';
    font-size: var(--heading-4);
    color: var(--couleur-texte);
    position: relative;
    margin-right: 4rem;
    margin-top: 5px;
}
.projects__intro {
    font-family: 'noto sans', sans-serif;
    font-size: var(--body-3);
    position: relative;
    margin-right: 5rem;
}
.projects__legend {
    font-family: 'noto sans', sans-serif;
    font-size: var(--body-4);
    position: relative;
    margin-top: 21px;
}
.projects__img-right {
    float: right;
    width: 85px;
    height: 160px;
}
.projects__img-left {
    float: left;
    width: 90px;
    height: 160px;
}
.other__separation {
    margin-top: 20px;
    margin-bottom: 20px;
}