.parent__container {
    display: flex;
    justify-content: center;
}
.bouton {
    display: inline-block;
    padding: 10px 40px;;
    color: var(--blanc);
    border: 2px solid var(--blanc);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 110px;
    margin-bottom: 350px;
    font-family: 'noto sans', sans-serif;
}
.projects__buttom {
    border-radius: 10px;
    padding: 8px 20px;;
    color: var(--blanc);
    border: 1.5px solid var(--blanc);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'noto sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
}
