.cards-container {
    column-count: 2;
    column-gap: 20px;
}
#caroussel-1,
#caroussel-2,
#caroussel-3,
#caroussel-4,
#caroussel-5,
#caroussel-6,
#caroussel-7 {
    margin-bottom: -400px; /* Espace entre les lignes */
    flex: 0 0 calc(33.33% - 20px); /* 33.33% pour trois colonnes, 20px pour l'espace entre les colonnes */
}
#flip-container-1,
#flip-container-2,
#flip-container-3,
#flip-container-4,
#flip-container-5,
#flip-container-6,
#flip-container-7 {
    margin: 50px 6px 50px 0;
    display: inline-block;
    width: 100%;
    height: 512px;
    transition: all 0.2s;
    perspective: 900px;
}
#card-1 .front,
#card-1 .back,
#card-2 .front,
#card-2 .back,
#card-3 .front,
#card-3 .back,
#card-4 .front,
#card-4 .back,
#card-5 .front,
#card-5 .back,
#card-6 .front,
#card-6 .back {
    position: absolute;
    width: 150px;
    height: 190px;
    text-align: left;
    backface-visibility: hidden;
    transform-style: preserve3d;
    transition: all 0.4s;
    border-radius: 10px;
}
#card-7 .front,
#card-7 .back {
    margin-left: 5.5rem;
    position: absolute;
    width: 150px;
    height: 190px;
    backface-visibility: hidden;
    transform-style: preserve3d;
    transition: all 0.4s;
    border-radius: 10px;
}
#card-1 .front,
#card-2 .front,
#card-3 .front,
#card-4 .front,
#card-5 .front,
#card-6 .front,
#card-7 .front {
    background: var(--couleur-des-articles);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}
#card-1 .front img,
#card-2 .front img,
#card-3 .front img,
#card-4 .front img,
#card-5 .front img,
#card-6 .front img,
#card-7 .front img {
    width: 150px;
    height: 190px;
    margin-top: 0;
    margin-bottom: 0;
}
#card-1 .back,
#card-2 .back,
#card-3 .back,
#card-4 .back,
#card-5 .back,
#card-6 .back,
#card-7 .back {
    background: var(--couleur-des-articles);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#card-1 .back__titre,
#card-2 .back__titre,
#card-3 .back__titre,
#card-4 .back__titre,
#card-5 .back__titre,
#card-6 .back__titre,
#card-7 .back__titre {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: var(--heading-5);
    font-family: 'harry_p';
    color: var(--couleur-texte);
    margin-top: -7px;
}
#card-1 .back__texte,
#card-2 .back__texte,
#card-3 .back__texte,
#card-4 .back__texte,
#card-5 .back__texte,
#card-6 .back__texte,
#card-7 .back__texte {
    content: "• ";
    text-align: center;
    font-family: 'noto sans', sans-serif;
    font-size: var(--body-3);
    color: var(--blanc);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -7px;
}
#card-1 .back {
    transform: rotateY(-180deg);
}
#card-1.flipped .back {
    transform: rotateY(0deg);
}
#card-1.flipped .front {
    transform: rotateY(180deg);
}
#card-2 .back {
    transform: rotateY(-180deg);
}
#card-2.flipped .back {
    transform: rotateY(0deg);
}
#card-2.flipped .front {
    transform: rotateY(180deg);
}
#card-3 .back {
    transform: rotateY(-180deg);
}
#card-3.flipped .back {
    transform: rotateY(0deg);
}
#card-3.flipped .front {
    transform: rotateY(180deg);
}
#card-4 .back {
    transform: rotateY(-180deg);
}
#card-4.flipped .back {
    transform: rotateY(0deg);
}
#card-4.flipped .front {
    transform: rotateY(180deg);
}
#card-5 .back {
    transform: rotateY(-180deg);
}
#card-5.flipped .back {
    transform: rotateY(0deg);
}
#card-5.flipped .front {
    transform: rotateY(180deg);
}
#card-6 .back {
    transform: rotateY(-180deg);
}
#card-6.flipped .back {
    transform: rotateY(0deg);
}
#card-6.flipped .front {
    transform: rotateY(180deg);
}
#card-7 .back {
    transform: rotateY(-180deg);
}
#card-7.flipped .back {
    transform: rotateY(0deg);
}
#card-7.flipped .front {
    transform: rotateY(180deg);
}





