.caroussel {
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}
.flip-container {
    margin: 50px 64px 50px 0;
    display: inline-block;
    width: 300px;
    height: 512px;
    transition: all 0.2s;
    perspective: 900px;
}
.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 512px;
    text-align: left;
    backface-visibility: hidden;
    transform-style: preserve3d;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .08), 0 2px 2px 0 rgba(0, 0, 0, .04);
}
.front {
    background: var(--couleur-des-articles);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}
.front h4 {
    margin: 32px 0;
}
.front img {
    width: 160px;
    height: 200px
}
.back {
    background: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.back ul {
    list-style: none;
}

.back li {
    margin: 24px 0;
    font-size: 18px;
}

.back li:before {
    content: "• ";
    font-size: 24px;
    color: rgb(0, 120, 190);/
}
.back {
    transform: rotateY(-180deg);
}
.flipped .back {
    transform: rotateY(0deg);
}

.flipped .front {
    transform: rotateY(180deg);
}
.white-space {
    width: 40px;
    height: 1px;
    background-color: var(--couleur-des-articles);
}