/* carrousel livres et autres oeuvres de J.K.Rowling */
.carrousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    text-align: center;
    gap: 30px;
    margin: 0.5rem;
}
.carrousel__img {
    width: 100%;
    height: 380px;
    position: relative;
    margin-top: 90px;
    margin-bottom: -50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.carrousel__img::before {
    position: absolute;
    bottom: 0;
    left: 0;
}
.carrousel__element {
    flex: 1 0 80%;
    scroll-snap-align: start;
}
.carrousel__text {
    position: relative;
    background-color: var(--couleur-des-articles);
    font-size: var(--heading-2);
    font-family: 'harry_p';
    padding: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.carrousel::-webkit-scrollbar-track {
    background-color: var(--noir);
}
.carrousel::-webkit-scrollbar {
    height: 4px;
    background-color: var(--blanc);
}
.carrousel::-webkit-scrollbar-thumb {
    background-color: var(--blanc);
}


