/* carrousel livres */
.caroussel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative;
    text-align: center;
    gap: 30px;
}
.caroussel__img {
  width: 270px;
  height: 380px;
  position: relative;
  margin-top: 90px;
  margin-bottom: -50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.caroussel__img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
.caroussel__element {
    flex: 1 0 80%;
    scroll-snap-align: start;
}
.caroussel__element figure {
    margin: 0;  
}
.caroussel__texte {
    position: relative;
    background-color: var(--couleur-des-articles);
    padding: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--blanc);
    font-size: var(--heading-2);
    font-family: 'harry_p';
}
.caroussel::-webkit-scrollbar-track {
    background-color: var(--noir);
}
.caroussel::-webkit-scrollbar {
    height: 4px;
    background-color: var(--blanc);
}
.caroussel::-webkit-scrollbar-thumb {
    background-color: var(--blanc);
}

/* carrousel mockup */


