.hero__header {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: -150px;
}
/* hero page d'accueil*/
.hero__img {
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: 0 -20px;
  padding-left: 20px;
  width: 100%;
  margin-top: -70px;
}
.hero__title {
  position: absolute;
  top: 0;
  font-family: 'harry_p';
  font-size: var(--heading-1);
  margin-left: 2rem;
  letter-spacing: 4px;
}
/* hero page de contact */
.hero__form-img {
  position: absolute;
  inset: 0;
  z-index: -1;
}
/* hero déroulant */
.hero__img-scrolling {
  position: relative;
  z-index: -1;
  margin-bottom: -280px;
  margin-left: 1rem;
}
/* hero à propos */
.hero__header-apropos {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}
.hero__img-apropos {
position: absolute;
inset: 0;
z-index: -1;
width: 100%;

}
.hero__icon-apropos {
margin-left: 2rem;
margin-right: 2rem;
margin-bottom: -20px;
margin-top: 240px;
}
