.hero__header {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: -150px;
}
/* hero page d'accuiel*/
.hero__img {
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: 0 -20px;
  padding-left: 20px;
  width: 100%;
  margin-top: -70px;
}
.hero__title {
  font-family: 'harry_p';
  font-size: var(--heading-1);
  padding-bottom: 450px;
  margin-left: 2rem;
  letter-spacing: 4px;
}
/* hero page de contact */
.hero__form-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: 0;
  margin-top: 20%;
}
/* hero déroulant */
.hero__img-scrolling {
  position: relative;
  z-index: -1;
  margin: 0 -20px;
  width: 100%;
  margin-top: -100px;
  margin-bottom: -300px;
  margin-left: 1.5rem;
}
/* hero à propos */
.hero__img-apropos {
position: absolute;
inset: 0;
z-index: -1;
margin: 0 -20px;
padding-left: 20px;
width: 100%;
}
.hero__title-apropos {
padding-bottom: 450px;
}
.hero__icon-apropos {
margin-left: 2rem;
margin-right: 2rem;
margin-bottom: -10px;
}