.container__sticker {
    position: relative;
    background-color: var(--couleur-des-articles);
    font-family: 'noto sans', sans-serif;
    height: 140px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 90px;
}
.sticker__title {
    font-size: var(--heading-3);
    color: var(--couleur-texte);
    margin-left: 1rem;
    text-transform: uppercase;
}
.sticker__text {
    color: var(--blanc);
    margin-left: 1rem;
    margin-right: 1rem;
}
.sticker__plus-info {
    position: absolute;
    bottom: -20px;
    right: 0;
    margin-right: 0.5rem;

}
